.row
  .col-md-12
    %h2 Permission
  .col-md-12
    .profile-box
      %br
      %table
        %tr
          %th Name
          %th Action
          %th Description
        - @permissions.each do |permission|
          %tr
            %td= permission.name
            %td= permission.action
            %td= permission.description
