<div class="row">
	<div class="col-md-12">
		<h2>Create Banner</h2>
	</div>
	<div class="col-md-12">
		<div class="profile-box">
			<div class="text-right">
				<%= link_to 'View Banners', admin_banners_path %>
			</div>
			<%= render 'form' %>
		</div>
	</div>
</div>
