.row
  .col-md-12
    %h2 Taxes
  .col-md-10.col-md-offset-1
    .profile-box
      .text-right
        = link_to 'New Base Tax', new_admin_tax_path
      %br
      %table
        %tr
          %th Name
          %th Percentage
          %th.text-center Actions
        = render @taxes
