.modal.fade{ tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'cart-modal-label', id: "carts-modal-#{customer.id}"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-label' => 'Close' }
          %span{ 'aria-hidden' => true } &times;
        %h4.modal-title#cart-modal-label Assign to Cart
      .modal-body
        .row
          .col-md-6= link_to 'Activate existing cart or create new cart', assign_admin_carts_path(customer), method: :post, class: 'btn btn-primary'
          .col-md-6= link_to 'Change customer for current cart', change_customer_admin_cart_path(session[:cart_id], customer.id), method: :post, class: 'btn btn-primary'
      .modal-footer
        %button.btn.btn-default{ type: 'button', 'data-dismiss' => 'modal' } Close
