<div class="row">
	<div class="col-md-12">
		<h2>Edit Customer</h2>
	</div>
	<div class="col-md-12">
		<div class="profile-box">
			<div class="text-right">
				<%= link_to 'View Customers', admin_customers_path %>
			</div>
			<%= render 'form' %>
		</div>
	</div>
</div>
