%h1 Error Occured
%p Please bear with us. Our Team has been notified about the problem.
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
= link_to 'Return To Home', front_root_path, class: 'btn btn-primary'

