%h1 Contact
%hr
.row
	.col-md-6
		.row
			.col-md-3
				Address:
			.col-md-9
				Damian de Goa
				%br
				903/1, Damian House
				%br
				Porvorim, India 403501
				%br
				%br
			.col-md-3
				Phone:
			.col-md-9
				%a{ href: 'tel:+918322417045' } 0832 - 2417045
				%br
				%a{ href: 'tel:+918322412126' } 0832 - 2412126
				%br
				%a{ href: 'tel:+918322413737' } 0832 - 2413737
				%br
				%br
			.col-md-3
				Fax:
			.col-md-9
				0832-2412127
				%br
				%br
			.col-md-3
				Email:
			.col-md-9
				%a{ href: 'mailto:&#100;&#100;&#103;&#095;&#103;&#111;&#097;&#064;&#115;&#097;&#110;&#099;&#104;&#097;&#114;&#110;&#101;&#116;&#046;&#105;&#110;'.html_safe } &#100;&#100;&#103;&#095;&#103;&#111;&#097;&#064;&#115;&#097;&#110;&#099;&#104;&#097;&#114;&#110;&#101;&#116;&#046;&#105;&#110;
				%br
				%a{ href: 'mailto:&#100;&#097;&#109;&#105;&#097;&#110;&#100;&#101;&#103;&#111;&#097;&#064;&#100;&#097;&#116;&#097;&#111;&#110;&#101;&#046;&#105;&#110;'.html_safe } &#100;&#097;&#109;&#105;&#097;&#110;&#100;&#101;&#103;&#111;&#097;&#064;&#100;&#097;&#116;&#097;&#111;&#110;&#101;&#046;&#105;&#110;
				%br
				%a{ href: 'mailto:&#100;&#100;&#103;&#103;&#111;&#097;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;'.html_safe } &#100;&#100;&#103;&#103;&#111;&#097;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;
				%br
				%br
			.col-md-3
				Open on:
			.col-md-9
				Monday to Saturday
				%br
			.col-md-3
				Timings:
			.col-md-9
				9:30 am - 7:30 pm
				%br
				%br
				%br
	.col-md-5
		%iframe{ frameborder: 0, height: 350, src: 'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d480.48256760776326!2d73.8198786!3d15.5456051!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbe2a491d2f13a5b0!2sDamian+de+Goa+Showroom!5e0!3m2!1sen!2s!4v1394449298478&z=12', width: '100%'}
		%br
