Welcome to Damian De Goa.
%br>/
Please click the link below or copy and paste the URL in your browser.
%br>/
%br>/
= link_to activate_front_customer_url(@customer.activation_digest), activate_front_customer_url(@customer.activation_digest), style: 'color: #740403;'
%br>/
%br>/
