// Variables
$black: #000;
$nav-link-hover-bg: $black;
$nav-tabs-active-link-hover-bg: $black;
$dropdown-bg: $black;
$dropdown-link-hover-bg: $black;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

header{
	background: $black;
	color: #fff;
	padding: 10px 10px 1px;
	.nav-tabs{
		margin-top: 50px;
		border-bottom: 0;
		a{
			color: #fff;
			font-weight: bold;
		}
	}
}
.field_with_errors{
	display: inline-block;
	input{
		box-shadow: 0 0 2px 0 #c00;
	}
}
.delete-link{
	color: #c00;
	&:hover, &:focus{
		color: #500;

	}
}
.actions a{
	margin: 0 10px;
}
.profile-box{
	margin-top: 40px;
	border: 1px solid #ccc;
	padding: 25px 40px;
	.title, label{
		width: 160px;
		display: inline-block;
	}
	table{
		width: 100%;
	}
	select, textarea{
		width: 179px;
	}
	textarea{
		height: 200px;
		vertical-align: top;
	}
}