// Variables
$black: #000;
$white: #fff;
$nav-link-hover-bg: $black;
$nav-tabs-active-link-hover-bg: $white;
$dropdown-bg: $black;
$dropdown-link-hover-bg: $white;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

/* Global Styles */
.required:after{
	content:"*";
}

.inline-block{
	display: inline-block;
	vertical-align: top;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.pointer{
	cursor: pointer;
}

header{
	background: $black;
	color: #fff;
	padding: 10px 10px 1px;
	.nav-tabs{
		margin-top: 50px;
		border-bottom: 0;
		a{
			color: #fff;
			font-weight: bold;
		}
	}
}
.field_with_errors{
	input{
		box-shadow: 0 0 2px 0 #c00;
	}
}
.delete-link{
	color: #c00;
	&:hover, &:focus{
		color: #500;

	}
}
.actions a{
	margin: 0 10px;
}
.icon-actions{
	min-width: 10%;
}
.profile-box, .main-content{
	margin-top: 40px;
	border: 1px solid #ccc;
	padding: 25px 40px;
}
.profile-box{
	.title{
		width: 160px;
		display: inline-block;
	}
	table{
		width: 100%;
	}
	select, textarea, input[type="text"], input[type="number"], input[type="email"]{
		// width: 179px;
	}
	textarea{
		height: 200px;
		vertical-align: top;
	}
	input[type="file"]{
		display: inline-block;
	}
}
.datetime-selector{
	select{
		width:auto;
	}
}
.autocomplete{
	display: inline-block;
}
.permissions{
	label{
		width: auto;
	}
}
.styled-checkboxes{
	min-height: 40px;
	display: inline-block;
	margin-bottom: 10px;
	label {
		cursor: pointer;
		text-transform: capitalize;
		width: 200px;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid #aaa;
	}
	input{
		visibility: hidden;
		position: absolute;
	}
	input:checked + label{
		background: $brand-primary;
		color: #fff;
	}
}
.role-permissions {
	label{
		font-weight: normal;
	}
}
.cart-menu{
	position: relative;
	margin-top: 10px;
	.glyphicon{
		font-size: 30px;
		color: #fff;
	}
	.badge{
		position: absolute;
		top: -5px;
		right: -10px;
		background: #c00;
	}
}
.child-arrow{
	font-size: 25px;
	line-height: 1em;
}
.customisation-link{
	vertical-align: bottom;
}
