// Place all the styles related to the admin/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.categories{
	&, ul{
	list-style: none;
	}
	li{
		margin-bottom: 10px;
	}
	form{
		div{
			display: inline-block;
		}
		label{
			display: none;
		}
	}
}