// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-info{
	margin-bottom: 20px;
	.customer-labels{
		display: inline-block;
		min-width: 100px;
	}
}