// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.category-checkboxes .category-checkboxes{
	padding-left:40px;
}
.category-checkboxes label{
	width: auto;
}
.product-box{
	height: 360px;
}
.product-container{
	border: 1px solid #ccc;
	margin-top: 40px;
	padding: 25px 20px
}
.product-image{
	height: 200px;
	overflow: hidden;
	background: #ccc;
}
.product-name, .product-description{
	height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.product-quantity{
	max-width: 50px;
}
.inline-form{
	display: inline-block;
}