// Place all the styles related to the admin/quotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.quotation-info{
	margin-bottom: 20px;
	.customer-labels{
		display: inline-block;
		min-width: 100px;
	}
}
.quotation-form{
	input{
		width: auto;
	}
	.discount-percent, .quantity-field{
		width: 80px;
	}
	.delete-link{
		margin-top: 5px;
	}
	.product-name{
		height: auto;
	}
}
