// Place all the styles related to the admin/requirements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.camera-box{
	canvas, video{
		width: 510px;
		height: 309px;
		display: inline-block;
		vertical-align: top;
	}
}
.custom-specification-image{
	max-width: 100px;
}
.camera-inactive .require-camera{
	display: none;
}
.custom-specifications .form-group{
	&, input{
		vertical-align: top;
	}
}

