.row
	.col-md-12
		%h2 Add stock for #{@product.name}
		= image_tag @product.images.first.try(:name).try(:thumbnail).try(:url), class: "img-responsive"
	.col-md-12
		.profile-box
			.text-right
				= link_to 'View Stocks', admin_product_stocks_path(@product)
			= render 'form'