DATABASE_USERNAME: database_user
DATABASE_PASSWORD: <database_password>
INTERCEPTOR_EMAIL_TO: <interceptor_address>
BCC_ADDRESSES: '<Name<user@domain.com>;<Another Name<another@domain.com>'
production:
  SECRET_KEY_BASE: <secret_key>
  DATABASE_USERNAME: database_user
  DATABASE_PASSWORD: <database_password>
