DATABASE_USERNAME: database_user
DATABASE_PASSWORD: <database_password>
INTERCEPTOR_EMAIL_TO: <interceptor_address>
production:
  SECRET_KEY_BASE: <secret_key>
  DATABASE_USERNAME: database_user
  DATABASE_PASSWORD: <database_password>
