DATABASE_USERNAME: database_user
DATABASE_PASSWORD: <database_password>
INTERCEPTOR_EMAIL_TO: <interceptor_address>
BCC_ADDRESSES: '<Name<user@domain.com>;<Another Name<another@domain.com>'
BCC_INVOICES_EMAIL: '<Name<user@domain.com>;<Another Name<another@domain.com>'
EBS_ACCOUNT_ID: <ebs_account_id>
EBS_SECRET_KEY: <ebs_secret_key>
EBS_GATEWAY_MODE: <TEST|LIVE>
EXCEPTION_EMAIL_TO: user@domain.com
production:
  SECRET_KEY_BASE: <secret_key>
  DATABASE_USERNAME: database_user
  DATABASE_PASSWORD: <database_password>
  ACTION_MAILER_HOST: <action_mailer_host>
  ACTION_MAILER_ASSET_HOST: <action_mailer_asset_host>
