$navbar-default-bg: rgba(0,0,0,0.42);
$navbar-default-border: transparent;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-color: #c3c3c3;
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background: asset_url('background.jpg') center center;
}
a, a:hover, a:focus{
	text-decoration: none;
	color: #fff;
}
footer{
	padding: 20px;
	color: #fff;
	background: #000;
	span{
		vertical-align: middle;
		display: inline-block;
	}
}
.full-height{
	height: 100%;
}
.inline-block{
	display: inline-block;
}
.main-content{
	background: #141414;
	padding: 30px 15px;
	color: #c3c3c3
}
.sprites {
	background: asset_url('sprites.png') no-repeat;
	display: inline-block;
}
.field_with_errors{
	display: inline-block;
	input{
		box-shadow: 0 0 0 2px #c00;
	}
}
.nav-icons{
	width: 33px;
	height: 33px;
	vertical-align: middle;
}
.home { background-position: 0 -272px; }
.about { background-position: 0 0; }
.collection { background-position: 0 -136px; }
.projects { background-position: 0 -374px; }
.clients { background-position: 0 -68px; }
.contact { background-position: 0 -204px; }

.main-nav a:hover{
	.home { background-position: 0 -306px; }
	.about { background-position: 0 -34px; }
	.collection { background-position: 0 -170px; }
	.projects{ background-position: 0 -340px; }
	.clients { background-position: 0 -102px; }
	.contact { background-position: 0 -238px; }
}
.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 0;
}
.facebook{
	width: 32px;
	height: 32px;
	background-position: 0 -408px;
}
.phone{
	width: 16px;
	height: 16px;
	background-position: 0 -441px;
}
.cart-menu{
	position: relative;
	margin-top: 10px;
	.glyphicon{
		font-size: 30px;
	}
	.badge{
		position: absolute;
		top: -5px;
		right: -10px;
		background: #c00;
	}
}
.category-nav{
	li a{
		display: block;
		padding: 10px;
	}
	.root-category{
		ul{
			display: none;
			margin-left: 110px;
			margin-top: -32px;
			position: absolute;
			background: #696969;
			z-index: 1;
			padding: 10px;
			list-style: none;
			width: 250px;
		}
		&:hover ul{
			display: block;
		}
	}
}
 label{
 	display: inline-block;
 	width: 160px;
}
input{
	color: #000;
}
.customer-menu{
	color: #fff;
	padding: 10px;
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.navbar-nav > li > a {
		padding: 10px 29px;
	}
}
@media (min-width: $screen-lg-min) {
	.navbar-nav > li > a {
		width: 184px;
	}
}
