$navbar-default-bg: rgba(0,0,0,0.42);
$navbar-default-border: transparent;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-color: #c3c3c3;

$brand-primary: #740403 !default; // #337ab7
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background: asset_url('background.jpg') center center;
}
.main-container{
	max-width: 2048px;
}
a, a:hover, a:focus{
	text-decoration: none;
}
header a, footer a{
	color: #fff;
}
footer{
	padding: 20px;
	color: #fff;
	background: $navbar-default-bg;
	span{
		vertical-align: middle;
		display: inline-block;
	}
}
.full-height{
	height: 100%;
}
.inline-block{
	display: inline-block;
}
.main-content{
	background: #fff;
	padding: 30px 15px;
}
.sprites {
	background: asset_url('sprites.png') no-repeat;
	display: inline-block;
}
.field_with_errors{
	display: inline-block;
	input{
		box-shadow: 0 0 0 2px #c00;
	}
}
.nav-icons{
	width: 33px;
	height: 33px;
	vertical-align: middle;
}
.home { background-position: 0 -272px; }
.about { background-position: 0 0; }
.collection { background-position: 0 -136px; }
.projects { background-position: 0 -374px; }
.clients { background-position: 0 -68px; }
.contact { background-position: 0 -204px; }

.main-nav a:hover{
	.home { background-position: 0 -306px; }
	.about { background-position: 0 -34px; }
	.collection { background-position: 0 -170px; }
	.projects{ background-position: 0 -340px; }
	.clients { background-position: 0 -102px; }
	.contact { background-position: 0 -238px; }
}
.facebook{
	width: 32px;
	height: 32px;
	background-position: 0 -408px;
}
.phone{
	width: 16px;
	height: 16px;
	background-position: 0 -441px;
}
.cart-menu{
	position: relative;
	margin-top: 10px;
	a{
		color: #fff;
	}
	.glyphicon{
		font-size: 30px;
	}
	.badge{
		position: absolute;
		top: -5px;
		right: -10px;
		background: #c00;
	}
}
 label{
 	display: inline-block;
 	width: 160px;
}
input{
	color: #000;
}
.customer-menu{
	color: #fff;
	padding: 10px;
}
.sub-categories{
	display: none;
	position: absolute;
	background-color: #ffece2;
	z-index: 10;
	width: 100%;
	left: 0;
	padding: 10px;
	box-shadow: 0px -3px 1px 0px  #740403 inset;
}
.main-nav{
	position: relative;
	.nav > li	{
		position: static;
	}
}
.navbar-nav li{
	&:hover .sub-categories{
		display: block;
	}
	.sub-category-link{
		font-weight: bold;
	}
	a{
		color: #000;
	}
}
.top-search{
	max-width: 250px;
	li{
		display: inline-block;
	}
}
.top-search{
	margin: 7px 0;
}
@media (min-width: $screen-lg-min) {
	.navbar-nav > li > a {
		width: 184px;
	}
}
