// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-thumbnails{
	max-height: 100px;
}
.thumbnail-gallery{
	overflow: hidden;
	padding-top: 10px;
	text-align: center;
}
.product-box{
	overflow: hidden;
	height: 360px;
	.price-cart{
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		height: 42px;
		padding: 3px 0;
	}
}
.product-image{
	background: #ccc;
	height: 200px;
	overflow: hidden;
}
.product-name, .product-description{
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.full-description{
	max-height: 200px;
	overflow-y: scroll;
}
.product-quantity{
	width: 50px;
	height: 40px;
	color: #000;
}
.images-modal{
	.modal-dialog, .modal-content{
		height: 96%;
	}
	.modal-content{
		padding: 10px;
	}
	.modal-content{
		.popup-image{
			.image-container{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			img{
				max-height: 95%;
			}
		}
		.thumbnail-gallery{
			padding-top: 50px;
			.product-thumbnail{
				margin: 5px;
				vertical-align: center;
				border: 1px solid	#ccc;
			}
		}
		.zoom-image{
			cursor: zoom-in;
		}
		.zoom-out{
			cursor: zoom-out;
		}
	}
}
@media (min-width: 768px) {
	.modal-xl {
		width: 90%;
		max-width:1200px;
	}
}