// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-thumbnails{
	max-height: 100px;
}
.thumbnail-gallery{
	overflow: hidden;
	padding-top: 10px;
	text-align: center;
}
.product-box{
	overflow: hidden;
	height: 360px;
	position: relative;
	box-shadow: 0 0 6px 0px #ccc;
	margin-bottom: 15px;
	&:hover{
		box-shadow: 0 0 6px 0px #aaa;
	}
	.price-cart{
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		height: 42px;
		padding: 3px 0;
	}
	.discount-percent{
		border-radius: 0 0 0 420px;
		color: #fff;
		background: #f00;
		font-size: 20px;
		font-weight: bold;
		height: 60px;
		padding: 10px;
		position: absolute;
		right: 0;
		top: 0;
		width: 60px;
	}
}
.product-image{
	height: 200px;
	overflow: hidden;
	a{
		display: inline-block;
	}
}
.product-name, .product-description{
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.full-description{
	max-height: 200px;
	overflow-y: scroll;
}
.product-quantity{
	width: 50px;
	height: 40px;
	color: #000;
}
.out-of-stock{
	padding: 5px;
	font-size: 1.5em;
	border-radius: 4px;
	color: #c00;
}
.zoomed-image{
	display: inline-block;
}
.product-details .tab-pane{
	max-height: 185px;
	overflow-y: scroll;
}
.home-slider{
	min-height: 392px;
}

