.row
  .col-md-12
    %h2 Online Taxes
  .col-md-12
    .profile-box
      .text-right
        =link_to 'New Base Online Tax', new_admin_online_tax_path
      %br
      %table
        %tr
          %th Name
          %th Percentage
          %th Applicable On
          %th.text-center Actions
        = render @online_taxes
