.nested-fields.form-inline.image-specifications
  %span
    = link_to_remove_association f, class: 'delete-link btn btn-default' do
      %span.glyphicon.glyphicon-remove
  .form-group
    - if f.object.characteristic_image.try(:name?)
      .inline-block.characteristic-name= f.object.characteristic.name
      .image-checkbox.relative.inline-block
        = image_tag f.object.characteristic_image.name.small, class: 'img-responsive'
    - else
      = f.select :characteristic_id, Characteristic.pluck(:name, :id), { prompt: 'Select Specification' }, class: 'form-control characteristic-changer', 'data-url' => images_admin_characteristic_path(0), 'data-uid' => '[new_image_customisations]', 'data-invoker' => 'requirement_item'
  .form-group.characteristic-image
  %br
  %br
