.row
	.col-md-12
		%h2 Custom Specifications
	.col-md-12
		.profile-box
			%br
			%h3.inline-block Specifications
			= link_to 'View All', admin_order_item_customisations_path, class: 'btn btn-link customisation-link'
			%table.table.table-striped.table-responsive
				%thead
					%tr
						%th ID
						%th Date
						%th Item Name
						%th Specification
						%th Requirement
						%th Status
						%th.text-center Actions
				%tbody
					- @order_item_customisations.each do |customisation|
						= render 'order_item_customisation', customisation: customisation
			%hr
			%h3.inline-block Image Specifications
			= link_to 'View All', admin_order_item_image_customisations_path, class: 'btn btn-link customisation-link'
			%table.table.table-striped.table-responsive
				%thead
					%tr
						%th ID
						%th Date
						%th Item Name
						%th Specification
						%th Requirement
						%th Status
						%th.text-center Actions
				%tbody
					- @order_item_image_customisations.each do |customisation|
						= render 'order_item_image_customisation', customisation: customisation