.row
	.col-md-4
		.login-fields
			= form_for :customer do |f|
				%fieldset
					%legend Reset your password
					.form-group
						= f.password_field :password, placeholder: "Password", required: "required"
					.form-group
						= f.password_field :password_confirmation, placeholder: "Re-enter Password", required: "required"
					.form-group
						= f.submit "Reset", class: "btn btn-primary pull-right", id: "submit"
