.row
  .col-md-12
    %h2 Categories
  .col-md-12
    .profile-box
      .text-right
        =link_to 'New Root Category', new_admin_category_path, remote: true
      %br
      .parent-category
        = arranged_tree_as_list(@categories, list_style: :bootstrap_list_group, ul_class_top: ['categories']) do |category|
          = render category
