.row
  .col-md-12
    %h2 Categories
  .col-md-12
    .profile-box
      .text-right
        =link_to 'New Root Category', new_admin_category_path, remote: true
      %br
      %ul.categories
        - @categories.each do |category|
          = render 'category', category: category
