.row
  .col-md-12
    %h2 Categories
  .col-md-10.col-md-offset-1
    .profile-box
      .text-right
        =link_to 'New Root Category', new_admin_category_path, remote: true
      %br
      %ul.categories.ancestry
        - @categories.each do |category|
          = render 'category', category: category
