.form-group.text-center
  %button.btn.btn-primary{ type: 'button', 'data-toggle' => 'modal', 'data-target' => '.attributes-modal' } Attributes
.modal.fade.attributes-modal{ tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'attributes-label' }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-label' => 'Close' }
          %span{ 'aria-hidden' => true } &times;
        %h4.modal-title#attributes-label Attributes
      .modal-body
        #attributes
          = f.fields_for :product_attributes do |attribute|
            = render 'product_attribute_fields', f: attribute
          .links
            %br
            = link_to_add_association 'Add Attribute', f, :product_attributes, class: 'add-product btn btn-primary'
      .modal-footer
        %button.btn.btn-default{ type: 'button', 'data-dismiss' => 'modal' } Close
