= f.collection_check_boxes(:coupon_code_ids, CouponCode.pluck(:id, :code), :first, :second) do |product|
  .col-md-3
    .form-group.styled-checkboxes.text-center
      = product.check_box
      = product.label
%br
%br
