<%= f.collection_check_boxes(:cross_sale_product_ids, Product.pluck(:id, :name), :first, :second) do |product| %>
  <div class="col-md-3">
    <div class="form-group styled-checkboxes text-center">
      <%= product.check_box %>
      <%= product.label %>
    </div>
  </div>
<% end %>
<br/>
<br/>
