.form-group.text-center
  %button.btn.btn-primary{ type: 'button', 'data-toggle' => 'modal', 'data-target' => '.group-items-modal' } Grouped Products
.modal.fade.group-items-modal{ tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'group-items-label' }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-label' => 'Close' }
          %span{ 'aria-hidden' => true } &times;
        %h4.modal-title#group-items-label Grouped Products
      .modal-body
        #group-items
          = f.fields_for :group_items do |group_item|
            = render 'group_item_fields', f: group_item
          .links
            %br
            = link_to_add_association 'Add Products', f, :group_items, class: 'add-item btn btn-primary'
      .modal-footer
        %button.btn.btn-default{ type: 'button', 'data-dismiss' => 'modal' } Close
