// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-box{
	overflow: hidden;
	height: 300px;
}
.product-image{
	background: #ccc;
	height: 200px;
	overflow: hidden;
}