.category-nav
	%strong.h4 All Categories
	%span.all-category.glyphicon.glyphicon-menu-down
	%ul.list-unstyled
		- Category.roots.each do |root_category|
			%li.root-category
				= link_to front_category_path(root_category) do
					%span.category-name= root_category.name
					%span.glyphicon.glyphicon-menu-right
				- if root_category.has_children?
					%ul.sub-category.list-unstyled
						- root_category.children.each do |sub_category|
							%li
								%strong= link_to sub_category.name, front_category_path(sub_category)
								- if sub_category.has_children?
									%ul.list-unstyled
										- sub_category.children.each do |category|
											%li= link_to category.name, front_category_path(category)