- [@current_customer, @customer].each do |object|
	-if object.try(:errors).try(:any?)
		.alert.alert-danger
			%ul.list-unstyled
				- object.errors.full_messages.each do |msg|
					%li= msg
- flash.each do |message_type, message|
	.alert{class: "alert-#{message_type}" }= message