.row
  .col-md-12
    .row
      .col-md-2
      .col-md-8
        .home-slider.nivo-slider#slider
          - @banners.each do |banner|
            = link_to front_offer_path(banner) do
              = image_tag banner.image
    .row#products= render partial: 'front/products/product', collection: @products, as: :product
    .row
      .col-md-12= paginate @products
